
{:paths ["source-code/cljs"]
 :deps  {bithandshake/cljc-fruits  {:git/url "https://github.com/bithandshake/cljc-fruits"
                                    :sha     "568ee3b7bb6b9d39e894c96754e12584d3490985"}
         bithandshake/cljc-io      {:git/url "https://github.com/bithandshake/cljc-io"
                                    :sha     "b936261c0f1cfb82353ba3a30037c572420afba6"}
         org.clojure/clojurescript {:mvn/version "1.10.891"}}}
