
{:paths ["source-code/cljs"]
 :deps  {bithandshake/cljc-fruits  {:git/url "https://github.com/bithandshake/cljc-fruits"
                                    :sha     "c13959ab29d418fbf46f8183656e1c857aea8e5e"}
         bithandshake/cljc-io      {:git/url "https://github.com/bithandshake/cljc-io"
                                    :sha     "772ffc87d86fa3bde18061794ebbb758a9dbea1a"}
         org.clojure/clojurescript {:mvn/version "1.10.891"}}}
